extends layout

block content
  
  .row
    .col-md-12.text-center
      h3 Uncle #{uncle.number}

  table.table
    tr
      td Hash:
      td #{uncle.hash}
    tr
      td Block hash: 
      td 
        a(href="/block/" + blockHash) #{blockHash}
    tr
      td Miner: 
      td  
        a(href="/account/" + uncle.author) #{nameformatter.format(uncle.author)}
    tr
      td Gas Limit:
      td !{roundNumber(uncle.gasLimit)}
    tr
      td Gas Used:
      td !{roundNumber(uncle.gasUsed)}
    tr
      td Difficulty:
      td !{roundNumber(uncle.difficulty)}
    tr
      td Total Difficulty:
      td !{roundNumber(uncle.totalDifficulty)}
    tr
      td Timestamp:
      td #{moment.unix(uncle.timestamp).format()} (#{moment.unix(uncle.timestamp).fromNow()})
